* {
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: paoxiao;
    src: url('方正咆哮体.ttf');
}

@font-face {
    font-family: jianti;
    src: url('方正剑体简体_0.ttf');
}

header {
    font-family: paoxiao, serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    background-color: #3f423c;
    width: calc(100% - 20px);
    padding: 10px;
    clear: left;
    margin-bottom: 10px;
}

.header-left {
    padding-right: 900px;
}

.header-right {
    font-weight: normal;
    font-family: jianti, serif;
    font-size: 15px;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

div.left {
    float: left;
    width: 160px;
    margin: 0;
    background-color: orange;
}

div.content {
    float: left;
    background-color: orange;
    font-family: jianti, serif;
}

div.footerfather{
    display: flex;
    justify-content: center;
    margin-top:10px;
}

div.footer {
    width: 100%;
    padding: 1.2em;
    color: white;
    background-color: #3f423c;
    text-align: center;
    padding-right: 1240px;
}

div.list{
    font-family: jianti,serif;
    font-size: 18px;
    color: white;
    margin: 0;
    background-color: #5f5750;
    height: 30px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    padding-top: 10px;
}

a.list{
    display:block;
}

a.list:hover{
    background-color: cadetblue;
}